html {
  font-size: 80%;
  box-sizing: border-box;
}
body {
  font: helvetica, roboto;
  margin: 0;
  height: 100vh;
}
.body-container {
  height: 100%;
}

.nav {
  background-color: red !important;
}
.nav a {
  color: #203040 !important;
}

/* for update form in my profile page */

.mymodal {
  height: 300px !important;
}
