/* html {
  font-size: 65.2%;
  box-sizing: border-box;
}
body {
  font: helvetica, roboto;
  margin: 0;
  height: 100vh;
}
.body-container {
  height: 100%;
} */

.primary {
  background-color: #89d1fe;
}
