{% extends 'base.html' %}


{% block title %}

home


{% endblock title %}

{% block content %}

    {{hello}}

    <br>
    {{user}}

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas a et perferendis, dolorum quidem officiis quasi natus nobis autem consectetur veritatis illo iusto, necessitatibus similique quas, omnis ab cum?</div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quae nemo veritatis, iste vitae reiciendis magni dolorum eum architecto ipsum ex adipisci dolorem, et at. Suscipit laboriosam minus libero sint?

    </div>
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsum atque architecto, debitis facere autem eligendi voluptate aliquid est aut rem minus ducimus inventore quas. Magni sequi numquam expedita sit.

    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, distinctio. Ex, harum, accusantium obcaecati eum, est dolorum cum tempora at nobis odit quis praesentium magni magnam doloribus sapiente. Quasi, suscipit.

    </div>
    <div>   
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia, reiciendis nostrum laborum suscipit debitis necessitatibus commodi error vero recusandae omnis officiis eligendi aut eos, illum distinctio fugiat magni! Maxime.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nihil laborum hic repellendus veritatis commodi suscipit sint repudiandae ab assumenda cupiditate, ad error, quidem rerum quasi amet unde labore nisi!
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam possimus culpa aspernatur corporis distinctio sit quos sint, et nihil ratione sequi iusto! Saepe ratione eos nam voluptates pariatur molestiae.</div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni cupiditate perspiciatis, quae ullam aliquid enim atque at iste odit, sed omnis consequatur facere tenetur tempora dolorem repellat labore libero!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem cupiditate quod et doloribus pariatur quae iste eos! Incidunt dolorum laudantium quod assumenda eius asperiores quia aut, nobis aperiam unde.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas a et perferendis, dolorum quidem officiis quasi natus nobis autem consectetur veritatis illo iusto, necessitatibus similique quas, omnis ab cum?</div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quae nemo veritatis, iste vitae reiciendis magni dolorum eum architecto ipsum ex adipisci dolorem, et at. Suscipit laboriosam minus libero sint?

    </div>
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsum atque architecto, debitis facere autem eligendi voluptate aliquid est aut rem minus ducimus inventore quas. Magni sequi numquam expedita sit.

    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, distinctio. Ex, harum, accusantium obcaecati eum, est dolorum cum tempora at nobis odit quis praesentium magni magnam doloribus sapiente. Quasi, suscipit.

    </div>
    <div>   
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia, reiciendis nostrum laborum suscipit debitis necessitatibus commodi error vero recusandae omnis officiis eligendi aut eos, illum distinctio fugiat magni! Maxime.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nihil laborum hic repellendus veritatis commodi suscipit sint repudiandae ab assumenda cupiditate, ad error, quidem rerum quasi amet unde labore nisi!
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam possimus culpa aspernatur corporis distinctio sit quos sint, et nihil ratione sequi iusto! Saepe ratione eos nam voluptates pariatur molestiae.</div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni cupiditate perspiciatis, quae ullam aliquid enim atque at iste odit, sed omnis consequatur facere tenetur tempora dolorem repellat labore libero!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem cupiditate quod et doloribus pariatur quae iste eos! Incidunt dolorum laudantium quod assumenda eius asperiores quia aut, nobis aperiam unde.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas a et perferendis, dolorum quidem officiis quasi natus nobis autem consectetur veritatis illo iusto, necessitatibus similique quas, omnis ab cum?</div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quae nemo veritatis, iste vitae reiciendis magni dolorum eum architecto ipsum ex adipisci dolorem, et at. Suscipit laboriosam minus libero sint?

    </div>
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsum atque architecto, debitis facere autem eligendi voluptate aliquid est aut rem minus ducimus inventore quas. Magni sequi numquam expedita sit.

    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, distinctio. Ex, harum, accusantium obcaecati eum, est dolorum cum tempora at nobis odit quis praesentium magni magnam doloribus sapiente. Quasi, suscipit.

    </div>
    <div>   
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia, reiciendis nostrum laborum suscipit debitis necessitatibus commodi error vero recusandae omnis officiis eligendi aut eos, illum distinctio fugiat magni! Maxime.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nihil laborum hic repellendus veritatis commodi suscipit sint repudiandae ab assumenda cupiditate, ad error, quidem rerum quasi amet unde labore nisi!
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam possimus culpa aspernatur corporis distinctio sit quos sint, et nihil ratione sequi iusto! Saepe ratione eos nam voluptates pariatur molestiae.</div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni cupiditate perspiciatis, quae ullam aliquid enim atque at iste odit, sed omnis consequatur facere tenetur tempora dolorem repellat labore libero!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem cupiditate quod et doloribus pariatur quae iste eos! Incidunt dolorum laudantium quod assumenda eius asperiores quia aut, nobis aperiam unde.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas a et perferendis, dolorum quidem officiis quasi natus nobis autem consectetur veritatis illo iusto, necessitatibus similique quas, omnis ab cum?</div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quae nemo veritatis, iste vitae reiciendis magni dolorum eum architecto ipsum ex adipisci dolorem, et at. Suscipit laboriosam minus libero sint?

    </div>
    <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsum atque architecto, debitis facere autem eligendi voluptate aliquid est aut rem minus ducimus inventore quas. Magni sequi numquam expedita sit.

    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, distinctio. Ex, harum, accusantium obcaecati eum, est dolorum cum tempora at nobis odit quis praesentium magni magnam doloribus sapiente. Quasi, suscipit.

    </div>
    <div>   
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia, reiciendis nostrum laborum suscipit debitis necessitatibus commodi error vero recusandae omnis officiis eligendi aut eos, illum distinctio fugiat magni! Maxime.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nihil laborum hic repellendus veritatis commodi suscipit sint repudiandae ab assumenda cupiditate, ad error, quidem rerum quasi amet unde labore nisi!
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam possimus culpa aspernatur corporis distinctio sit quos sint, et nihil ratione sequi iusto! Saepe ratione eos nam voluptates pariatur molestiae.</div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni cupiditate perspiciatis, quae ullam aliquid enim atque at iste odit, sed omnis consequatur facere tenetur tempora dolorem repellat labore libero!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorem cupiditate quod et doloribus pariatur quae iste eos! Incidunt dolorum laudantium quod assumenda eius asperiores quia aut, nobis aperiam unde.
    </div>

{% endblock content %} 

<!-- {% block scripts %}

{% endblock scripts %}