
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    

    <!-- custom css -->

    <link rel="stylesheet" type="text/css" href={% static 'style.css' %} >
    
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  
    <title> DD - {% block title %}{% endblock title %}</title>
  </head>
  <body>
    
    <div class="body-container">
      <div>
        {% include 'main/navbar.html'%}
      </div>
    
      <div class="ui container">
        {% block content %}
        {% endblock content %}
      </div>

     

      <div>
        {% include 'main/footer.html'%}
      </div>
    </div>
   
   <!-- custom js -->

   <script type="text/javascript" src={% static 'main.js' %}></script>

   <style>
      html {
        font-size: 80%;
        box-sizing: border-box;
      }
      body {
        font: helvetica, roboto;
        margin: 0;
        height: 100vh;
        background-color:whitesmoke;
      }
      .body-container {
        font-size:18px  !important;
        display:grid;
      grid-template-areas:
      "header"
      "main"
      "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 1fr 5rem ;
      height: 100%
      }
   </style>
   

  </body>
</html>